{% extends 'layouts/main_layout.html' %}

{% block customTitle %}
  About
{% endblock %}

{% block pageContent %}
  <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url('/static/images/heading-pages-06.jpg');">
    <h2 class="l-text2 t-center">About</h2>
  </section>

  <section class="bgwhite p-t-66 p-b-38">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-b-30">
          <div class="hov-img-zoom">
            <img src="{{ about_obj.image.url }}" alt="IMG-ABOUT" />
          </div>
        </div>
        <div class="col-md-8 p-b-30">
          <h3 class="m-text26 p-t-15 p-b-16">{{ about_obj.title }}</h3>
          <p class="p-b-28">{{ about_obj.content }}</p>
          <div class="bo13 p-l-29 m-l-9 p-b-10">
            <p class="p-b-11">{{ daily_message.content }}</p>
            <span class="s-text7">- {{ daily_message.message_owner }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
