<div class="pagination">

    {% if page_obj.object_list|length == 0 %}
        <p class="p-b-12">
            Hiçbir sonuç bulunamadı... 
            <a href="{% url 'blog-page' %}">
                Geri Dön
            </a>
        </p>
    {% else %}
        {% if page_obj.has_previous %}
            <a href="?{{ page_obj.previous_page_number.querystring }}" class="item-pagination flex-c-m trans-0-4">&lsaquo;&lsaquo;</a>
        {% endif %}
        {% for page in page_obj.pages %}
            {% if page %}
                {% if page == page_obj.number %}
                    <a href="javascript:void(0)" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ page }}</a>
                {% else %}
                    <a href="?{{ page.querystring }}" class="item-pagination flex-c-m trans-0-4">{{ page }}</a>
                {% endif %}
            {% else %}
                <a href="javascript:void(0)" class="item-pagination flex-c-m trans-0-4">...</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?{{ page_obj.next_page_number.querystring }}" class="item-pagination flex-c-m trans-0-4">&rsaquo;&rsaquo;</a>
        {% endif %}
    {% endif %}

    
</div>